html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  background: #020617;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  display: block;
}
